.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  margin: 0;
}

.card__like-button {
  background-image: url(../images/Like.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/Like-Color.svg);
  opacity: 1;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

.card__delete-button {
  position: absolute;
  right: 10px;
  top: 10px;
  background-image: url(../images/Delete.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/Delete-Hover.svg);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
    line-height: 1;
  }
}
