.modal {
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear 0.5s, opacity 0.5s linear;
}

.modal_is-open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__image-container {
  position: relative;
  background-color: transparent;
  padding: 0;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  margin: auto;
  border-radius: 8px;
  display: block;
  object-fit: contain;
}

.modal__image-close-button {
  padding: 0;
  position: absolute;
  top: 0px;
  right: -48px;
  height: 40px;
  width: 40px;
  background-image: url(../images/Close-White.svg);
  background-position: center;
  border: none;
  background-color: transparent;
  opacity: 1;
  cursor: pointer;
}

.modal__image-close-button:hover {
  opacity: 0.4;
}

.modal__image-caption {
  background-color: #212121;
  margin: 0;
  padding: 4px 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -40px;
}

.modal__close-button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  background-image: url(../images/Close-Black.svg);
  background-size: contain;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-color: transparent;
  opacity: 0.4;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  width: 100%;
  padding: 16px 12px 16px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  box-sizing: border-box;
  margin-bottom: 0;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__input_type-error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input_type_error:hover {
  border: 1px solid rgba(255, 0, 0, 1);
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__error {
  color: #ff0000b2;
  opacity: 0.7;
  margin: -24px 0 32px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  display: none;
}

.modal__label {
  margin: 0 0 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #212121b2;
  display: block;
}

.modal__submit-button {
  max-width: 156px;
  width: 100%;
  padding: 18px 58px;
  background-color: #212121;
  color: #fcf5e5;
  margin: 0;
  border: none;
  border-radius: 8px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.modal__submit-button:hover {
  opacity: 0.8;
}

.modal__submit-button_inactive {
  background-color: #212121;
  opacity: 0.5;
}
@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__input {
    font-size: 16px;
    height: 48px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-button {
    max-width: none;
    width: 100%;
  }

  .modal__image-container {
    padding: 0 6px;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__image-close-button {
    top: -48px;
    right: 6px;
  }

  .modal__image-caption {
    font-size: 16px;
    bottom: -35.5px;
    left: 6px;
  }
}
