.modal {
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: visability 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  background-image: url(../images/Close.svg);
  background-size: contain;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-color: transparent;
  opacity: 0.4;
}

.modal__close-button:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding-left: 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__label {
  margin: 0 0 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
}

.modal__submit-button {
  max-width: 156px;
  width: 100%;
  padding: 18px 58px;
  background-color: #212121;
  color: #fcf5e5;
  margin: 0;
  border: none;
  border-radius: 8px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-button {
    max-width: none;
    width: 100%;
  }
}
