.header {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.header__logo {
  width: 94px;
  height: 26px;
}
