.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.modal_is-open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px;
  position: relative;
  box-sizing: border-box;
}

.modal__image-container {
  position: relative;
  background-color: transparent;
  padding: 0;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: auto;
  height: auto;
  margin: auto;
  border-radius: 8px;
  display: block;
  object-fit: contain;
}

/* .modal__image-close-button {
  padding: 0;
  position: absolute;
  top: 0px;
  right: -48px;
  height: 40px;
  width: 40px;
  background-image: url(../images/Close-White.svg);
  background-position: center;
  border: none;
  background-color: transparent;
  opacity: 1;
  cursor: pointer;
}

.modal__image-close-button:hover {
  opacity: 0.4;
} */

.modal__image-caption {
  background-color: #212121;
  margin: 0;
  padding: 4px 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -32px;
  justify-content: left;
}

.modal__close-button {
  padding: 0;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 32px;
  background-image: url(../images/Close-Black.svg);
  background-size: contain;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.4;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 1;
}

.modal__close-button_type_preview {
  top: -40px;
  right: -40px;
  background-image: url(../images/Close-White.svg);
  opacity: 1;
}

.modal__close-button_type_preview:hover {
  opacity: 0.4;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  max-width: 770px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  width: 100%;
  padding-left: 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  box-sizing: border-box;
  height: 52px;
  margin: 0 0 32px;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input_type_error:hover {
  border: 1px solid rgba(255, 0, 0, 1);
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__input-error {
  color: #ff0000b2;
  opacity: 0.7;
  margin: -24px 0 32px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
}

.modal__error_visible {
  display: block;
}

.modal__label {
  margin: 0 0 8px;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #212121b2;
}

.modal__submit-button {
  width: 100%;
  height: 48px;
  background-color: #212121;
  color: #fcf5e5;
  margin: 0;
  border: none;
  border-radius: 8px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.modal__submit-button:hover {
  opacity: 0.4;
}

.modal__submit-button_inactive {
  background-color: #212121;
  opacity: 0.5;
}

.modal__container_type_delete {
  max-width: 430px;
}

.modal__delete-button {
  width: 100%;
  height: 48px;
  margin-bottom: 8px;
  background-color: #212121;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-family: Poppins, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.21;
  cursor: pointer;
}

.modal__delete-button:hover {
  opacity: 0.8;
}

.modal__cancel-button {
  width: 100%;
  height: 48px;
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  border-radius: 8px;
  font-family: Poppins, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  cursor: pointer;
}

.modal__cancel-button:hover {
  opacity: 0.6;
}

.modal__form_type_delete {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-top: 32px;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__input {
    font-size: 16px;
    height: 48px;
    margin: 0 0 24px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-button {
    max-width: none;
    width: 100%;
  }

  .modal__image-container {
    padding: 0 6px;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__close-button_type_preview {
    top: -48px;
    right: 6px;
  }
  .modal__image-caption {
    font-size: 16px;
    bottom: -28px;
    left: 6px;
  }

  .modal__form_type_delete {
    margin-top: 18px;
    gap: 8px;
  }

  .modal__delete-button,
  .modal__cancel-button {
    height: 46px;
    font-size: 14px;
  }
}
